/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    background: url('./assets/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}